{% macro displayNews(news) %}
<div class="container" style="background-color: rgb(212, 226, 226);">
    {% for display in news |batch(4) %}
    <div class="row">
        {% for source in display %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="/source/{{source.id}}">
                        <p> {{ source.name}} </p>   
                    </a>
                </div>
            </div>           
                                     
        </div>
    {% endfor %}
    </div>
    <hr>
    {% endfor %}

</div>
{% endmacro %}